@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-right: 30px;
  right: 1rem;
  width: 25px;
  z-index: 888;
}

.hamburger .line {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 3px;
  background-color: #6070ff;
  z-index: 888;
}

.navMobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #6070ff;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
  z-index: 777;
  display: none;
}

.navMobile.open {
  display: block;
}

.navMobile ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 90px 50px;
  gap: 35px;
}

.navMobile ul li a {
  color: #ffff;
  font-size: 30px;
}

.hamburger.active .line {
  background-color: #ffff;
  transition: all 0.5s ease-in-out;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #344563;
}

.mylogo {
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.background--c {
  position: absolute;
  width: 100%;
  height: 718px;
  background-color: #fff;
  background-image: url("Images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50px;
  border-radius: 0 0 0 90px;
  z-index: -999;
}

.mylogo a {
  font-style: bold;
  font-weight: 700;
  align-items: center;
  text-align: center;
  display: flex;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.mainContainer {
  max-width: 90%;
  margin: 0 auto;
}

.container {
  background-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

.container h1 {
  font-weight: 700px;
  max-width: 319px;
  display: flex;
  font-size: 43px;
  color: #172b4d;
}

.container p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.container h3 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
}

.social-icons ul {
  display: flex;
  justify-content: flex;
  align-items: center;
  gap: 15px;
}

.items-about li {
  list-style: none;
}

.social-icons ul li {
  list-style: none;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.social-icons ul li img:hover {
  height: 30px;
}

/* Work section start */

#work-section {
  margin-top: 250px;
}

._container {
  max-width: 90%;
  margin: 0 auto;
}

.work-content {
  display: grid;
  gap: 60px;
}

.card {
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.card--content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card--content .title {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  max-width: 205px;
}

.items {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.item,
.dot-item {
  list-style: none;
}

.dot-item {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.items .item:first-child {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
}

.items .item:nth-child(3),
.items .item:nth-child(5) {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.desc {
  color: #344563;
  font-weight: 400;
}

.lang {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lan {
  list-style: none;
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-family: "poppins", sans-serif;
}

.button-f .btn {
  font-weight: 500;
  padding: 12px;
  font-size: 17px;
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.button-f .btn:hover {
  background-color: #6070ff;
  color: #ffff;
}

.button-f .btn:active {
  background-color: #2230d2;
}

/* Work section end */

/* About my self section start */

#AboutmySelf {
  display: flex;
  align-items: center;
  background-color: #ffff;
  margin-top: 150px;
  border-radius: 0 80px 0 0;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
  margin-top: 100px;
  gap: 20px;
}

.aboutContent .title {
  max-width: 200px;
  font-size: 43px;
  font-weight: 700;
  color: #172b4d;
}

.aboutContent .desc {
  height: 102px;
  top: 126px;
}

.aboutContent .title_2 {
  color: #7f8cff;
}

.items-about {
  display: flex;
  align-items: center;
  gap: 20px;
}

.aboutContent .button-f .btn {
  font-weight: 500;
  padding: 12px;
  font-size: 17px;
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 10px;
}

.aboutContent .button-f .btn:hover {
  background-color: #6070ff;
  color: #ffff;
}

.aboutContent .button-f .btn:active {
  background-color: #2230d2;
}

/* About my self section end */

.techs {
  margin-top: 20px;
  margin-bottom: 50px;
}

details {
  font-size: 1rem;
  background: #ffff;
  border-radius: 8px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
}

summary {
  user-select: none;
  list-style: none;
  padding: 1em;
}

summary::-webkit-details-marker {
  display: none;
}

.summary-up svg {
  opacity: 0.5;
}

.summary-up,
.summary-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
  background: #ffff;
  display: block;
}

summary:focus {
  outline: none;
}

summary:hover .summary-up svg {
  opacity: 1;
}

.tech {
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.techh {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
}

.tech__ {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

/* contact-me section */

.contact-background {
  position: absolute;
  width: 100%;
  height: 718px;
  background-color: #6070ff;
  background-image: url("Images/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-radius: 90px 0 0 0;
  z-index: -999;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 327px;
  margin-top: 103px;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.secondContainer h1 {
  font-weight: 700px;
  font-size: 43px;
  color: #ebebff;
}

.secondContainer p {
  color: #ebebff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-controler {
  height: 48px;
  width: 327px;
  border-radius: none;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
}

.input-textarea {
  height: 170px;
  width: 327px;
  border-radius: none;
  padding: 15px 38px 15px 16px;
  resize: none;
}

.contactContainer {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 120px;
}

.submit-button {
  height: 48px;
  width: 140px;
  border-radius: 8px;
  padding: 12px, 16px, 12px, 16px;
  color: #6070ff;
  border: 1px solid #cfd8dc;
}

.form-group {
  align-items: center;
  margin: 0 auto;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

.shape {
  display: flex;
  align-items: center;
  justify-content: column;
  height: 5px;
  width: 134px;
  border-radius: 10px;
  background-color: #0d151e;
  top: 20px;
  margin: auto;
}

/* Desktop version */

@media (min-width: 768px) {
  .contact-background {
    background-image: url(Images/contact\ form\ background\ shapes.svg);
    background-size: auto;
    background-position: center;
  }

  .background--c {
    background-image: url(Images/Header\ bg.svg);
    background-size: auto;
    background-position: center;
    height: 916px;
  }

  .hamburger {
    display: none;
  }
  .navbar {
    padding: 40px 40px 0 40px;
  }

  .aboutContent .desc {
    height: 102px;
    width: 447px;
    top: 126px;
  }

  .work-content {
    margin-top: 200px;
  }

  .card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px 22px 24px 24px;
  }

  .card2 img {
    max-width: 544px;
    height: 448px;
    border-radius: 8px;
    order: 1;
  }

  .card1 img {
    max-width: 544px;
    border-radius: 8px;
    height: 448px;
    order: -1;
  }

  .card--content {
    height: 465px;
    max-width: 544px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 30px;
    padding: 24px;
  }

  .card--content .title {
    align-self: flex-start;
    font-size: 40px;
  }

  #AboutmySelf {
    padding: 142px;
  }

  ._container {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .aboutContent {
    height: 392px;
    width: 447px;
    justify-content: center;
    margin-top: 0;
  }

  .techsContent {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
  }

  .tech {
    display: flex;
    gap: 20px;
  }

  .techh {
    display: flex;
    height: 120px;
    width: 122px;
    border-radius: 8px;
    flex-direction: column;
  }

  .techs {
    height: 360px;
    width: 684px;
  }

  .secondContainer {
    align-items: center;
    height: 102px;
    width: 569px;
  }

  .contact-form {
    gap: 60px;
  }

  .secondContainer p {
    text-align: center;
  }

  .shape {
    display: none;
  }

  .form-group {
    border-radius: 0;
  }

  .contactContainer {
    max-width: 1156px;
    margin: 0 auto;
  }

  .container {
    max-width: 900px;
    margin: 150px auto;
  }

  .icon img {
    display: none;
  }

  @keyframes h3 {
    0% {
      transform: translate(8px);
    }
    50% {
      transform: translate(20px);
    }
    100% {
      transform: translate(30px);
    }
  }

  .container h3 {
    animation-name: h3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes logo {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .mylogo {
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@media (max-width: 767px) {
  nav ul {
    display: none;
  }
}
